<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Pacifico&display=swap');
</style>
* {
    padding: 0px;
    margin: 0px;
}
ul {
    list-style: none;
    margin-bottom: 0px;
}
a{
	color: #000;
}

@media all and (max-width: 480px) {}

/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {}

@media all and (max-width: 320px) {
    body {
        background: #e7e7e7;
    }
}

.header {
    height: 125px;
    border-bottom: 1px solid #dddddd;
}
.header__top {
    list-style-type: none;
    overflow: hidden;
    background-color: #222222;
    color: #424242;
    height: 46px;
}
.header__top i{
    line-height: 46px;
}
.header__left {
    float: left;
}
.header__right {
    float: right;
}
.header__right--margin{
	margin-right: 25px;
}
.header__main{
	height: 100px;
	width: 100%;
	padding-bottom: 15px;
}
.header__main2{
	height: 100%;
}
.header__logo {
    float: left;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.header__menu{
	height: 100%;
	justify-content: center;
	align-items: center;
	float: left;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	display: flex;
}
.active li {
    margin: 0 15px 0 15px;
    display: inline-block;
}
.header__cart{
	float: right;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}
.header__cart ul{
	float: right;
}
.header__cart--heart{
	margin: 0 15px 0 0;
}
.header__cart ul li{
	display: inline-block;
}
.Ads{
	margin-top: 25px;
}
.imgads1{
	width: 100%;
}
